<app-header id="top" [menuItems]="menuItems"></app-header>
<section class="container my-md-5 mb-0 pb-lg-5 py-5">
  <div class="row my-4">
    <h2 class="h3 mb-4 pb-2 text-md-start text-center noto-sans">Request to book</h2>
    <div class="row justify-content-xl-between row justify-content-lg-center">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 pb-md-0 pb-sm-4 pb-4 border-btm-reponsive">
        <div class="trip-info pb-4 border-bottom">
          <h4 class="mb-4 text-start noto-sans">Your trip</h4>
          <div class="d-flex mb-4 justify-content-between" *ngIf="fromDate && endDate">
            <div class="dates-guests">
              <p class="noto-sans mb-1 fw-bold font18">Dates</p>
              <p class="noto-sans mb-0 fw-normal">{{fromDate | date:'MMM d, y'}} <span class="fw-bold">to</span>
                {{endDate
                | date:'MMM d, y'}}</p>
            </div>
            <div class="edit-dates text-end align-self-center cursor-pointer">
              <a (click)="navigatePrevious()" class="edit-link">Edit</a>
            </div>
          </div>
          <div class="d-flex mb-0 justify-content-between" *ngIf="noOfGuest">
            <div class="dates-guests">
              <p class="noto-sans mb-1 fw-bold font18">Guests</p>
              <p class="noto-sans mb-0 fw-normal">{{noOfGuest}} guest</p>
            </div>
            <div class="edit-dates text-end align-self-center cursor-pointer">
              <a (click)="navigatePrevious()" class="edit-link">Edit</a>
            </div>
          </div>
        </div>
        <div class="payment-stripe-info mt-4">
          <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
            <div class="mb-3">
              <label for="arrival-date" class="text-black fw-normal mb-1">Card holder name:</label>
              <input type="text" [ngClass]="{'is-invalid': submit && form['name'].errors}" formControlName="name"
                placeholder="Jane Doe" class="form-control">
              <div class="invalid-feedback font14">Please enter name.</div>
            </div>

            <div class="mt-3">
              <label for="arrival-date" class="text-black fw-normal mb-1">Card details:</label>
              <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
              <div class="invalid-feedback d-block font14" *ngIf="cardError?.type == 'validation_error'">
                {{cardError.message}}</div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary">
                Pay Now
              </button>
            </div>
          </form>
        </div>
        <!-- <app-signin></app-signin> -->
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 ps-lg-5 ps-md-3 ps-sm-3 ps-3 mt-md-0 mt-sm-4 mt-4">
        <div class="box-trip-border">
          <!-- Media object -->
          <div class="media-image-right d-flex pb-4 border-bottom">
            <!-- Image -->
            <img src="assets/img/real-estate/catalog/01.jpg" alt="John Doe" class="me-3 img-fluid" />
            <!-- Body -->
            <div>
              <div class="d-flex finder-det h-100 justify-content-between">
                <div class="property-detail">
                  <p class="form-check-label fs-sm mb-0">Entire villa</p>
                  <h5 class="text-body mb-0">Villa Serendipity</h5>
                </div>
                <div class="property-rating-review">
                  <div class="mb-1">
                    <span class="star-rating">
                      <i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i>
                    </span>
                    <span class="ms-1 fs-sm text-muted">(45 reviews)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="py-3 border-bottom">
            <p class="text-center text-body mb-0">Your booking is protected by <img
                src="https://a0.muscache.com/pictures/aircover/aircover-logo/original/56683a2f-f11b-43f6-8af7-a1b3861b2c85.svg"
                class="img-fluid"></p>
          </div>
          <div class="py-3 border-bottom">
            <h5 class="text-body mb-3">Price details</h5>
            <div class="d-flex mb-2 justify-content-between">
              <div class="dates-guests">
                <p class="noto-sans mb-0 fw-normal">$343.69 x 11 nights</p>
              </div>
              <div class="edit-dates text-end align-self-center">
                <p class="noto-sans mb-0 fw-normal">$3,780.57</p>
              </div>
            </div>
            <div class="d-flex mb-2 justify-content-between">
              <div class="dates-guests">
                <p class="noto-sans mb-0 fw-normal">Cleaning fee</p>
              </div>
              <div class="edit-dates text-end align-self-center">
                <p class="noto-sans mb-0 fw-normal">$80.32</p>
              </div>
            </div>
            <div class="d-flex mb-0 justify-content-between">
              <div class="dates-guests">
                <p class="noto-sans mb-0 fw-normal">Taxes</p>
              </div>
              <div class="edit-dates text-end align-self-center">
                <p class="noto-sans mb-0 fw-normal">$59.9</p>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <div class="d-flex mb-0 justify-content-between">
              <div class="dates-guests">
                <p class="noto-sans mb-0 fw-bold">Total (USD)</p>
              </div>
              <div class="edit-dates text-end align-self-center">
                <p class="noto-sans mb-0 fw-bold">$3,920.79</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>